<!DOCTYPE HTML>
<!--
	Altitude by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Free Agent Realty - {{ page.title }} </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/print.css" />
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div class="wrapper">
						<div class="inner">

							<!-- Header -->
				<header id="header">
				<a href="{{ site.baseurl }}/index.html" class="logo">Free Agent Realty<img src="{{ site.baseurl }}/images/Logo_graphic_2.gif"></a>
									<nav>
										<ul>
											<li><a href="#menu">Menu</a></li>
										</ul>
									</nav>
				</header>

							<!-- Nav -->
								<nav id="menu">
									<ul class="links">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="{{ site.baseurl }}/how_we_work.html">How We Work</a></li>
                                        <li><a href="{{ site.baseurl }}/services.html">Listing Services</a></li>
								        <li><a href="{{ site.baseurl }}/property_listings.html">Properties</a></li>
								        <li><a href="{{ site.baseurl }}/about.html">About Us</a></li>
                                        <li><a href="{{ site.baseurl }}/reviews.html">Reviews</a></li>
								        <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
									</ul>
								</nav>
						


				{{ content }}
					
					<div class="wrapper">
						<div class="inner">

							<!-- Section -->
								<section class="main accent2">
									<header class="major">
										<h2>Subscribe</h2>
										<p>So we can keep you up to date</p>
									</header>
									<form method="post" action="#" class="combined">
										<input type="email" name="email" id="email" placeholder="Email address" class="invert" />
										<input type="submit" class="special" value="Sign Up" />
									</form>
								</section>
							<!-- Footer -->
								<footer id="footer">
									<section class="links">
										<div>
                                            <ul class="plain">
                                                <li></li>
                                            </ul>
										</div>
										<div class="footer_list footer-right">
											<ul class="plain">
												<li><a href="{{ site.baseurl }}/about.html">About Us</a></li>
												<li><a href="{{ site.baseurl }}/reviews.html">Reviews</a></li>
												<li><a href="{{ site.baseurl }}/contact.html">Contact Us</a></li>
                                                <li><a href="{{ site.baseurl }}/how_we_work.html">How We Work</a></li>
												<li><a href="{{ site.baseurl }}/services.html">Services</a></li>
												<li><a href="{{ site.baseurl }}/property_listings.html">Properties</a></li>
											</ul>
										</div>
										<div class="footer-left">
											<ul class="plain">
                                                <img src="{{ site.baseurl }}/images/local_green.png" class="footer_image" style="width:90%">
											</ul>
										</div>
										<div class="footer_list">
										<ul class="plain">	
						              <li></li>
					                   </ul>
										</div>
									</section>
									<ul class="contact-icons">
										<li class="icon fa-home">Madison, WI</li>
										<li class="icon fa-phone"><a href="#">(608) 217-5147</a></li>
                                        <li class="icon fa-fax">(608) 467-6786</li>
										<li class="icon fa-envelope-o"><a href="mailto:grant@freeagentrealty.com">Grant@FreeAgentRealty.com</a></li>
									</ul>
									<p class="copyright">&copy; Free Agent Realty. All rights reserved.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
            <script src="{{ site.baseurl }}/assets/js/jquery.poptrox.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/util.js"></script>
			<script src="{{ site.baseurl }}/assets/js/main.js"></script>
            <script src="{{ site.baseurl }}/assets/js/maps.js"></script>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWc0kltUnm-lTloUNFvcnNdfBbg8HWqoY"></script>

	</body>
</html>